.heroSection {
  background-color: rgb(255, 255, 255);
}
.heroContent h2 {
  font-family: "Kalnia", serif;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}
.heroContent p {
  color: rgb(123, 123, 123);
  line-height: 1.5rem;
  font-weight: 350;
}
.heroSection p:nth-child(1) {
  font-weight: 500;
}
.buyBtn {
  /* border: none; */
  outline: none;
  border: 2px solid var(--primary-color);
  padding: 10px 25px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px 0px;
  /* transition: 1s; */
}
.buyBtn:hover {
  background-color: rgb(255, 255, 255);
  color: var(--primary-color);
  border: 2px solid rgb(201, 201, 201);
  /* transition: 1s; */
}
.buyBtn i {
  font-weight: 100;
  font-size: 25px;
}
.heroSection .heroContent {
  padding-top: 55px;
}

.timerCount {
  background-color: var(--primary-color);
  height: 300px;
}
.timerCount img {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}
.storeBtn {
  border: 2px solid white;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.storeBtn:hover {
  border: 2px solid white;
  background-color: aliceblue;
  color: var(--primary-color);
}

@media only screen and (max-width: 992px) {
  .heroContent h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .heroContent h2 {
    font-size: 1.6rem;
  }
  .heroContent p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .heroContent {
    padding-top: 0;
    margin-bottom: 40px;
  }
  .heroContent h2 {
    font-size: 1.6rem;
  }
  .heroContent p {
    font-size: 1rem;
  }
  
}
