.productDetails {
  margin-top: 100px;
}

.productDetails h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgb(240, 248, 255);
}

.productRating {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.productRating span i {
  color: orangered;
}
.productRating p span {
  color: orangered;
}
.buyBtn {
  border-radius: 30px;
}
.priceDetails {
  font-family: sans-serif;
  border-bottom: 2px solid rgb(236, 236, 236);
  font-weight: 800;
  padding: 2px 20px;
  border-radius: 50px;
  background-color: rgb(240, 248, 255);
}
.tabWrapper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.activeTab {
  font-weight: 600;
}
.tabContent p {
  line-height: 30px;
}
#review {
  border-left: 2px solid rgb(0, 0, 0);
  padding: 5px 10px;
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  background: rgb(240, 248, 255);
}
#description {
  border-left: 2px solid rgb(0, 0, 0);
  padding: 5px 10px;
  border-right: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  background: rgb(240, 248, 255);
}

.reviewWrapper ul li {
  color: orangered;
  margin-top: 10px;
}
.reviewWrapper ul p {
  margin-top: 2px;
}

.reviewForm {
  width: 70%;
  /* margin: auto; */
  margin-top: 50px;
}

.reviewForm h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.formGroup input,
.formGroup textarea {
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding: 8px 20px;
}
.formGroup input:focus {
  outline: none;
}
.formGroup {
  margin-bottom: 30px;
}
.formGroup span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: orangered;
  cursor: pointer;
}
.relatedTitle {
  font-family: "Kalnia", serif;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .productDetails h2{
    font-size: 1.3rem;
  }
  
}
